./backend/source/generated/cmd/coreapi-server/coreapi
./backend/source/generated/cmd/coreapi-server/coreapi-server
backend/source/generated/cmd/coreapi-server/coreapi-server
.vscode/
frontend/node_modules
backend/source/generated/cmd/coreapi-server/coreapi-server.exe