./backend/source/generated/cmd/coreapi-server/coreapi
./backend/source/generated/cmd/coreapi-server/coreapi-server
backend/source/generated/cmd/coreapi-server/coreapi-server
backend/source/generated/restapi/configure_coreapi.go
.vscode/
frontend/node_modules