.thumbnail-wrapper{
    margin-right: 10px;
    margin-bottom: 10px;
}

.pdf-container{
    overflow: scroll;
    height: calc(100vh - 200px);
}

.pdf-page{
    border: 1px solid var(--txt-input-border-color);
}

.pdf-wrapper{
    cursor: pointer;
}

.overlay{
    position: absolute;
    transform: translate(0, -100%);
    display: none;
    color: white;
    width: inherit;
    padding: 5px 15px;
}

.thumbnail-wrapper:hover .overlay{
    display: inline-block;
    background: rgba(0,0,0,0.4);
}