.modal-container-personal {
    background-color: var(--modal-panel-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 15px;
    padding: 40px;
    width: 20em;
    height: 65em;
}

.container-left {
    position: fixed;
    top: 45em;
    left: 13em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 14vw;
    overflow: scroll;
    max-height: calc(90vh);
}

.left-side {
    margin-left: 50px;
}

.right-side-top {
    margin-left: 400px;
}

.right-side-middle {
    margin-left: 400px;
    margin-top: 100px;
}

.right-side-down {
    margin-left: 1200px;
    margin-top: 0px;
}

.mynote-results-container {
    margin-left: 400px;
    margin-top: 80px;
    width: 76vw;
    overflow: scroll;
    max-height: calc(60vh);
}

.thumbnail-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}
