.page-container{
    margin: -30px 20px;
}

.left-panel {
    background-color: var(--modal-panel-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 15px;
    padding: 20px 35px;
    width: 275px;
    height: calc(100vh - 180px);
    overflow: scroll;
    text-align: center;
}

.right-panel {
    margin: 0px 30px;
}

.mynote-results-container {
    width: calc(100vw - 400px);
    height: calc(100vh - 460px);
    overflow: scroll;
}

.thumbnail-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}
