.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.bglayout {
  width: 100%;
	height: 100%;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}